<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/a1c9f1e9-7e1a-4ab3-b969-fdd64412d309/resourceGroups/RG-Marc.Merritt/providers/Microsoft.Web/sites/heather-demo-chat</ResourceId>
    <ResourceGroup>RG-Marc.Merritt</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://heather-demo-chat.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>aecbc71e-1d7e-3f89-24b3-957f5af87c52</ProjectGuid>
    <PublishUrl>https://heather-demo-chat.scm.azurewebsites.net/</PublishUrl>
    <UserName />
    <_SavePWD>false</_SavePWD>
  </PropertyGroup>
  <ItemGroup>
    <MsDeployParameterValue Include="ASPNETCORE_URLS">
      <Value>http://+:80</Value>
    </MsDeployParameterValue>
    <MsDeployParameterValue Include="WEBSITES_PORT">
      <Value>80</Value>
    </MsDeployParameterValue>
    <MsDeployParameterValue Include="WEBSITE_START_TIME_LIMIT">
      <Value>600</Value>
    </MsDeployParameterValue>
  </ItemGroup>
</Project>